# Frozen from the pinned s3-tests requirements.txt (minus tox) plus pytest-xdist.
# Pinned so pip doesn't backtrack through boto3 releases for botocore<1.28 on every run.
boto==2.49.0
boto3==1.24.96
botocore==1.27.96
certifi==2026.7.22
charset-normalizer==3.5.1
execnet==2.1.2
gevent==26.9.0
greenlet==3.5.6
httplib2==0.32.0
idna==3.20
iniconfig==2.3.0
isodate==0.7.2
jmespath==1.1.0
lxml==6.1.3
munch==4.0.0
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
pytz==2026.4
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.6.2
six==1.17.0
typing_extensions==4.16.0
urllib3==1.26.20
zope.event==6.2
zope.interface==8.6
